<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Course</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="navbar-logo"><img src="/static/assets/logo.png" alt="logo" class="navbar-logo">open course</a>
            <a href="/posts/" style="margin-left: 6em">Posts</a>
            <a href="/profile/test/">View Profile (test)</a>
            <a href="/course/">Course</a>
            <a href="/create/">Create</a>
            <a href="/join/test/">Join</a>
            <a href="/viewUsers">View Users</a>
            <a href="/about/">About</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    <div class="first-footer">
        <div style="width: 50%">
            <h4>About</h4>
            <div class="first-footer-sub">
                <a href="https://void-tech-um.github.io/">VOID Tech</a>
                <a href="https://void-tech-um.github.io/team.html">Our Team</a>
                <!-- Possibly create a PAQ page -->
                <a>FAQs</a>
                <!-- Possibly link to Park Swift in a mobile store -->
                <a>Other Projects</a> 
            </div>
        </div>
        <div style="width: 50%">
            <h4>Contact Us</h4>
            <div class="first-footer-sub">
                <a href="https://www.instagram.com/voidtechmichigan/">Instagram</a>
                <a href="https://www.linkedin.com/company/void-tech-consulting/">LinkedIn</a>
                <a href="mailto:void-tech@umich.edu">void-tech@umich.edu</a>
            </div>
        </div>
    </div>
    <div class="second-footer">
        <h3>open course</h3>
        <p>© Copyright OpenCourse 2024 - 2025</p>
    </div>
</footer>
</html>