<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Course</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
</head>
<body>
    <header>
        <nav>
            <a href="/" class="navbar-logo"><img src="/static/assets/logo.png" alt="logo" class="navbar-logo">open course</a>
            <a href="/posts/">Posts</a>
            <a href="/profile/test/">View Profile (hardcoded as user: test)</a>
            <a href="/course/">Course</a>
            <a href="/create/">Create</a>
            <a href="/join/test/">Join</a>
            <a href="/viewUsers">View Users</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>