{% extends 'base.html' %}
{% block content %}
<section class="courses">
    <div class="blue-header">
        <h1>Courses</h1>
        <p>Add your courses here to see study groups and materials on your feed</p>
    </div>

    <div class="search-grid">
        <input name="search" placeholder="Search saved posts" />
        <select class="filter-select">
            <option value="" selected>Filters</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <select class="filter-select">
            <option value="" selected>Semester</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <select class="filter-select">
            <option value="" selected>School</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
    </div>

    <div class="resource-grid">
        {% for course in courses %}
            <div class="resource">
                <div class="resource-title">
                    <h2>{{course[0]}}</h2>
                </div>
                <div class="course-title">
                    <p>{{course[1]}}</p>
                </div>
                <div class="resource-btn-space">
                    <button class="rounded-blue-button">Join Course</button>
                </div>
            </div>
        {% endfor %}
    </div>


</section>
{% endblock %}
