{% extends 'base.html' %}
{% block content %}
<section class="courses">
    <div class="feed-banner">
        <h1>Courses</h1>
        <p>Add your courses here to see study groups and materials on your feed</p>
    </div>

    <div class="resource-grid">
        {% for course in courses %}
            <div class="resource">
                <div class="resource-title">
                    <h2>{{course.course_code}}</h2>
                </div>
                <div class="course-title">
                    <p>{{course.course_name}}</p>
                </div>
                <div class="resource-btn-space">
                    {% if course.is_in_course == False %}
                    <form action="/courses/?target={{ url_for('show_courses') }}" method="post" enctype="multipart/form-data">
                        <input class="rounded-blue-button" type="submit" name="join" value="Join Course"/>
                        <input type="hidden" name="course_code" value="{{course.course_code}}"/>
                    </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>


</section>
{% endblock %}
