{% extends 'base.html' %}
{% block content %}
<section class="details">
    <div class="feed-banner">
        <h1>Group Details</h1>
        <p>Currently viewing a study group</p>
    </div>

    <div class="center-title">
        <h1>Calculus Final Exam Study</h1>
    </div>

    <div class="display-box">
        <div class="display1">
            <div class="profile-name">
                <div class="profile-header">
                    <!----Insert image here----->
                    <div class="profile-circle"></div>
                    <h2>Sarah Green</h2>
                </div>
            </div>
            <div class="umich-email">
                <p>sgreen@umich.edu</p>
            </div>
            <div>
                <button class="info-tag" type="button">MAT 116</button>
                <button class="info-tag" type="button">MH Hall</button>
                <button class="info-tag" type="button">Open Invite</button>
                <button class="info-tag" type="button">One time</button>
                <button class="info-tag" type="button">Weekend</button>
            </div>
            <div class="test-title1">
                <p>Details</p>
            </div>
            <div class="detail-desc">
                <p>Studying together for calculus final exam in Mason Hall on Saturday night!</p>
            </div>
            <div class="join-btn">
                <div class="join-text">
                    <p>Send an email to the group creator to join the group!</p>
                </div>
                <button class="rounded-blue-button">Join</button>
            </div>
        </div>
    </div>


</section>
{% endblock %}