{% extends 'base.html' %}
{% block content %}
<section class="index">
    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <div class = "search-content">
        <input type = "text" id="search" name="search" placeholder ="Search Posts, Classes...">
        <button type = "button" class = "new-post-btn" value = "Submit">
            Button
        </button>
    </div>


</section>
{% endblock %}
