{% extends 'base.html' %}
{% block content %}
<section class="index">
    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <div class = "search-content">
        <input type = "text" id="search" name="search" placeholder ="Search Posts, Classes...">
        <button type = "button" class = "new-post-btn" value = "Submit">
            Button
        </button>
    </div>
    <div class = "main-content">
        <div class = "side-bar">
            <h2>Filters</h2>
            <div class = "filter">
                <h3>Type</h3>
                <div class = "type">
                    <input class = "check-box" type = "checkbox" id = "type1" name = "type1" value = "group">
                    <label for = "type1">Group</label>
                </div>
                <div class = "type">
                    <input class = "check-box" type = "checkbox" id = "type2" name = "type2" value = "post">
                    <label for = "type2">Post</label>  
                </div>
              
            </div>
            <div class = "filter">
                <h3>Location</h3>
                <input type = "text" id = "location" name = "location" placeholder = "Search Location">
            </div>
            <div class = "filter">
                <h3>Time</h3>
            </div>
            <div class = "filter">
                <h3>Class</h3>
                <input type = "text" id = "class" name = "class" placeholder = "Search Class">
            </div>                        

        </div>
        <div class = "feed">
            <h2>Feed</h2>
            <div class = "post">
                <h4>UX Research Team</h4>
                <p class = "post-or-group">Group</p>
                <p class = "tags">#SI #SI311 #UX #Research</p>
                <p class = "courseid">SI 311</p>
            </div>
        </div>
    </div>


</section>
{% endblock %}
