<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <title>Open Course</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/events/" class="green-font">Open Events</a>
            <a href="/posts/">Posts</a>
            <a href="/profile/">View Profile</a>
            <a href="/class/">Class</a>
        </nav>
        <!-- js entry point -->
        <div id="reactEntry">
            Loading ...
        </div>
        <!-- Load JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
        <!--  -->
    </body>
    
</html>