<!DOCTYPE HTML>
<html>

<head>
   <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
   <title>Open Course</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
   <nav>
      <a href="/">Home</a>
      <a href="/events/">Open Events</a>
      <a href="/posts/">Posts</a>
      <a href="/profile/">View Profile</a>
      <a href="/class/">Class</a>
      <a href="/create/">Create</a>
   </nav>
   <h1>Class Page</h1>

   <div class="search-bar">
      <input type="text" placeholder="Add New Courses">
   </div>

   <div class="row">
      <div class="column">
         <h2>Your Courses</h2>
         <div class="course">
            <div class="left-content">
               <p class="department">SI </p>
               <p> 339</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">EECS </p>
               <p> 183</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">SI </p>
               <p> 422</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">SPANISH </p>
               <p> 231</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">STATS </p>
               <p> 250</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
      </div>
      <div class="column">
         <h2>Recommended</h2>
         <div class="course">
            <div class="left-content">
               <p class="department"> SI </p>
               <p> 422</p>
            </div>
            <button type="button">+</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">SI </p>
               <p> 422</p>
            </div>
            <button type="button">+</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">STATS </p>
               <p> 205</p>
            </div>
            <button type="button">+</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
      </div>
   </div>

</body>

</html>
