{% extends 'base.html' %}
{% block content %}
<section class="join">
   <h1>Class Page</h1>

   <div class="search-bar">
      <input type="text" placeholder="Add New Courses">
   </div>

   <div class="row">
      <div class="column">
         <h2>Your Courses</h2>
         <div class="course">
            <div class="left-content">
               <p class="department">SI </p>
               <p> 339</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">EECS </p>
               <p> 183</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">SI </p>
               <p> 422</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">SPANISH </p>
               <p> 231</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">STATS </p>
               <p> 250</p>
            </div>
            <button type="button">→</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
      </div>
      <div class="column">
         <h2>Recommended</h2>
         <div class="course">
            <div class="left-content">
               <p class="department"> SI </p>
               <p> 422</p>
            </div>
            <button type="button">+</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">SI </p>
               <p> 422</p>
            </div>
            <button type="button">+</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
         <div class="course">
            <div class="left-content">
               <p class="department">STATS </p>
               <p> 205</p>
            </div>
            <button type="button">+</button>
         </div>
         <hr style="width:5;text-align:left;margin-left:0">
      </div>
   </div>
</section>
{% endblock %}
