{% extends 'base.html' %}
{% block content %}
<section class="join">
   <h1>Class Page</h1>

   <div class="search-bar">
      <input type="text" placeholder="Add New Courses">
   </div>

   <div class="row">
      <div class="column">
         <h2>Your Courses</h2>
         {% for course in courses %}
            <div class="course">
               <div class="left-content">
                  <!-- <script>
                     var letters = course.match(/[a-zA-Z]+/)[0];
                  </script> -->
                  <p class="department">{{course[2]}}</p>
                  <!--<p> 250</p>-->
               </div>
               <button type="button">→</button>
            </div>
            <hr style="width:5;text-align:left;margin-left:0">
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}
