<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Open Course</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="login__left">
            <div class="login-container__left">
                <h1 class="login-container__left--header">Login</h1>
                <p class="login-container__left--description">Welcome to University of Michigan’s study group and resources platform</p>
                <form action="/login/" method="post" enctype="multipart/form-data" class="login-container__left--button">
                    <input type="submit" name="login" value="Web Login">
                </form>
                <form action="/login/" method="post" enctype="multipart/form-data" class="login-container__left--button">
                    <input type="submit" name="login" value="Preview Template Site" >
                </form>
                <a href="/privacy-policy/" class="login-container__left--link">Privacy and Terms</a>
            </div>
        </div>
        <div class="login__right">
            <img src="/static/assets/white-logo-no-background.svg">
            <h1 style="color: white; font-size: 60px; margin-left: 10px">open course</h1>
        </div>
        
        
    </div>

</body>

