<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Open Course</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Privacy Policy</h1>
    <hr class="hz-line">
    <div>
        <p>
        As a general policy, we use personal information and message data for
        internal purposes only. We do not sell or rent information about you.
        We will not disclose personal information or message data to third
        parties without your consent, except as explained in this Privacy
        Policy.
        </p>
        <p>
        “VOID TECH”, “we”, “our”, “us”, or “company” means the VOID TECH entity
        responsible for the collection and use of Personal Data under this
        Privacy Policy. This Privacy Policy (“Policy”) describes the personal
        information VOID TECH collects on you, the way we use it, and how you
        can contact us with questions about your privacy.
        </p>
        <h2>Data We Collect:</h2>
        <p>
        The data we collect is the data you provide to us. This includes your name, email, phone number, Michigan umid,
        and post contents. This includes all information you enter while using our service.
        <h2>Service Use:</h2>
        <p>
        We log usage data when you visit or otherwise use our services on our
        website and application. Our Services allow you to join class groups, make resource posts, and find other students
        in your classes. This list is not exhaustive and we may log additional data as needed.
        </p>
        <p>
        We use log-ins, cookies, device information, and internet protocol
        (“IP”) addresses to identify you and log your use. Most web browsers
        are initially set up to accept cookies. You can reset your web browser
        to refuse all cookies or to indicate when a cookie is being sent.
        Please note, however, that certain features of the site and
        application may not work properly if you delete or disable cookies.
        Any cookies collected by VOID TECH do not and cannot infiltrate a user's
        hard drive to collect any information stored on the hard drive.
        </p>
        <h2>Communications:</h2>
        <p>
        We may contact you through email with updates to our application and
        information on new services we provide. We will send you messages
        about the availability of our application, security, or other
        service-related issues.
        </p>
        <h2>Marketing:</h2>
        <p>
        We will advertise our application and may use general statistics
        collected on our users as a whole. We will not use any identifiable
        information on specific users in our marketing unless we have been
        provided expressed written consent to do so.
        </p>
        <h2>Developing Our Service and Research:</h2>
        <p>
        We use data in order to learn about ways to improve our website and
        application for users. This is to provide users with a more
        personalized experience and improve our services.
        </p>
        <h2>Service Providers:</h2>
        <p>
        We may use APIs from other companies to help us provide our service
        These companies are separate from VOID TECH and by agreeing to 
        VOID TECH’ Privacy Policy you are agreeing to VOID TECH’ usage of these 
        services.
        </p>
        <h2>Data Retention:</h2>
        <p>
        We will retain your personal data as long as is necessary to provide 
        you with our services. Even if you only use our services every few years, 
        we will save this information as long as your account is open.
        </p>
        </p>
        <h2>Security:</h2>
        <p>
        We have safeguards in place to protect your personal information by
        utilizing encrypted connections, such as HTTPS and SSL. We regularly monitor
        our systems for irregular behavior and attacks. However, we cannot
        warrant the security of any information that you send us. There is no
        guarantee that data may not be accessed, disclosed, altered, or
        destroyed by breach of any of our physical or technical safeguards.
        Additionally, we use external service providers for database
        management and server hosting. While these service providers are
        trustworthy sources, we are not responsible for any lapses in security
        measures that their services provide.
        </p>
        <h2>Lawful Bases for Processing:</h2>
        <p>
        We will only collect and process personal information about you and
        your account where you have given consent.
        </p>
        <h2>Other:</h2>
        <p>
        Our services are dynamic as we introduce new features, which may
        require the collection of new information. If we collect materially
        different personal data or materially change how we collect, use or
        share your data, we will notify you and may also modify this Privacy
        Policy.
        </p>
        <p>
        VOID TECH cooperates with government and law enforcement officials to
        enforce and comply with the law. We may therefore disclose personal
        information, usage data, message data, and any other information about
        you, if we deem that it is reasonably necessary to: (a) satisfy any
        applicable law, regulation, legal process (such as a subpoena or court
        order), or enforceable governmental request; (b) enforce the Terms of
        Use, including investigation of potential violations thereof; (c)
        detect, prevent, or otherwise address fraud, security or technical
        issues; or (d) protect against harm to the rights, property or safety
        of VOID TECH, its users or the public, as required or permitted by law.
        </p>

        <h2>Contact Information:</h2>

        <p>
        If you have questions or complaints regarding this privacy policy,
        please email
        <a href="mailto:void-tech@umich.edu">void-tech@umich.edu</a>
        </p>

        <br />
        <p>This privacy policy is effective immediately.</p>
        <p>&copy; 2024 VOID TECH</p>
    </div>
</body>

