{% extends 'base.html' %}
{% block content %}
<section class="saved">
   <div class="feed-banner">
      <h1>Saved Posts</h1>
      <p>View your saved posts here</p>
   </div>

   <div class="search-grid">
      <input name="search" placeholder="Search saved posts" />
      <select class="filter-select">
         <option value="" selected>Filters</option>
         <option value="option1">Option 1</option>
         <option value="option2">Option 2</option>
         <option value="option3">Option 3</option>
      </select>
      <select class="filter-select">
         <option value="" selected>Material Type</option>
         <option value="option1">Option 1</option>
         <option value="option2">Option 2</option>
         <option value="option3">Option 3</option>
      </select>
      <select class="filter-select">
         <option value="" selected>Class</option>
         <option value="option1">Option 1</option>
         <option value="option2">Option 2</option>
         <option value="option3">Option 3</option>
      </select>
   </div>

   <div class="feed-container">

      <div class="resource"> 
         <div class="resource-title">
             <h2>Resource Title</h2>
         </div>
         <div class="course-title">
             <p>COURSE TITLE</p>
         </div>
         <div class = "resource__tag">
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
         </div>
         <div class="resource-info">
             <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
         <div class="resource__check-section">
             <button class="rounded-blue-button">Check it Out</button>
 
         </div>
 
      </div>
      <div class="resource"> 
         <div class="resource-title">
             <h2>Resource Title</h2>
         </div>
         <div class="course-title">
             <p>COURSE TITLE</p>
         </div>
         <div class = "resource__tag">
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
         </div>
         <div class="resource-info">
             <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
         <div class="resource__check-section">
             <button class="rounded-blue-button">Check it Out</button>
 
         </div>
 
      </div>
      <div class="resource"> 
         <div class="resource-title">
             <h2>Resource Title</h2>
         </div>
         <div class="course-title">
             <p>COURSE TITLE</p>
         </div>
         <div class = "resource__tag">
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
         </div>
         <div class="resource-info">
             <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
         <div class="resource__check-section">
             <button class="rounded-blue-button">Check it Out</button>
 
         </div>
 
      </div>
      <div class="resource"> 
         <div class="resource-title">
             <h2>Resource Title</h2>
         </div>
         <div class="course-title">
             <p>COURSE TITLE</p>
         </div>
         <div class = "resource__tag">
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
             <button class="info-tag" type="button">Topic</button>
         </div>
         <div class="resource-info">
             <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
         <div class="resource__check-section">
             <button class="rounded-blue-button">Check it Out</button>
 
         </div>
 
      </div>            
   </div>
</section>
{% endblock %}
