{% extends 'base.html' %}
{% block content %}
<section class = "view-users">
    <h1>Username</h1>
    <h2>
        (123)123-1234 <div class="bx bx-phone" id="menu-icon"></div> <br> 
        email@umich.edu <br>
    </h2> 
    <p>
        They're also taking
    </p>
    
    <p>
        <button class="course-button", type="button">SI 110</button>
        <span><button class="course-button", type="button">SI 422</button></span>
        <span><button class="course-button", type="button">SI 311</button></span>
    </p>
    
    <p>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br> 
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br> 
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate<br>
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat<br>
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id<br>
        est laborum.
    </p>

</section>

{% endblock %}