.feed-banner {
	background-color: #045BC0;
	box-shadow: inset 0 15px 12px -12px #c9daff;
	color: white;
	padding: 2em;
	font-weight: bold;
}


.courses-container {
  display: flex;
  flex-flow: row wrap;
	justify-content: center;
}  

.course {
	border-radius: 12px;
	border: 1px solid rgba(185, 185, 185, 1);
	padding: 20px;
	margin: 20px;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.course__title--name {
	font-family: "Inter";
	color: rgba(108, 117, 125, 1);
	font-size: 24px;
	font-weight: 700;
}

.course__title--code {
	font-family: "Inter";
	color: rgba(33, 37, 41, 1);
	font-size: 24px;
	font-weight: 400;
}

.course__btn {
	display: flex;
	justify-content: flex-end;
}

.courses__text{
	margin-left: 3%;
}

.courses__text--link{
	display: inline;
	vertical-align: middle;
	font-size: inherit;
	color: #045BC0;
}

