.input__bottom {
	grid-row: 3/span 1;
	grid-column: 2/span 1;
	align-items: end;
	margin: 10px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.input__popUp-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	background-color: white;
	border: none;
  padding: 0;
  gap:5px;
}

.input__icon{
	margin:0px;
	display: inline-block;
}

.input__filters{
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.input__submit{
	width: 115px;
	height: 39px;
	background-color: #045BC0;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 999px;
	cursor: pointer;
	text-align: center;
	line-height: 39px;
	/* Center the text vertically */
	
}

.input__text--button{
	display: inline;
	margin: 0;
}

.new-post {
	margin: 3%;
	display: grid;
	grid-template-columns: 1fr minmax(550px, 700px) 1fr;
  place-items: center;
  column-gap: 20px;
  row-gap: 10px;
}

.new-post--title,
.new-post--desc {
  grid-column: 2/span 1;
  border-radius: 5px;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  width: 100%;
  height: 40px;
  padding: 0px 9px;

}

.new-post--desc{
  resize:none;
  width: 100%;
  min-height: 100px;
  padding: 10px 9px;
}

.new-post--title::placeholder,
.new-post--desc::placeholder{
  color: #C1C1C1;
  text-indent: 2px; /* Add indentation to the placeholder text */
  font-size: 18px;

}

.new-post--desc::placeholder{
  margin-top: 5px;
}

.new-post--pfp-container{
	grid-column: 1;
	align-self: start;
	justify-self: end;
}

.new-post--pfp {

  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  border: 2px solid #fff; 
  box-shadow: 0 0 5px rgba(0,0,0,0.3); 
}

.new-post-box--desc{
	grid-row: 2/span 1;
}

.custom-select {
  color: #045BC0;
  /* Set the font color to blue */
  border: none;
  /* Remove the border */
  outline: none;
  /* Remove the outline */
  font-size: 1rem;
}

.input__error{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}