.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__left {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.login__right {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #045BC0;
  gap:5px;
}

.login-container__left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20%;
  gap: 3rem;
}

.login__button{
  width:100%
}

.login__button--preview{
  border: solid;
  border-width: 1px;
  border-color: #A4CEFF;
  color: #045BC0;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.login__button--login{
  border: none;
  background-color: #045BC0;
  color: white;
  border-radius: 10px;
  width: 100%;
  height: 3.5rem;
  cursor: pointer;

}

.login__text{

}

.login__text--description{
  margin:0;
}

.login__text--header{
  text-align: center;
}

.login__text--logo{
  color: white; 
  font-size: 60px;
}

.login__text--error{
  color: red; 
}