.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.login__right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #045BC0;
}

.login-container__left{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10rem;
}

