/* responsive navbar */

.navbar-toggler {
  display: none;
  cursor: pointer;
}
  
@media screen and (max-width: 900px) {
  .navbar-toggler {
    display: block;
    text-decoration: none;
    margin-right: 1rem;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -500px; /* Initially hidden */
    left: 0;
    right: 0;
    transition: top 0.3s;
    transition-behavior: smooth;
    text-align: center;
    background-color: white;
  }


  .navbar-links.active {
    top: 72px; /* Show menu */
    display: block;
    background-color: white;
  }

  .navbar-links a {
    padding: 1.5rem;
    display: block;
  }

}

/* Change the color of links on hover */
nav a:hover {
    text-decoration: underline;
  }

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 35px;
}

.navbar-logo img {
  margin-right: 5px;
  /* Adjust as needed */
}
