/* Post Component */
.post__border {
	width: 300px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	/* Shadow */
	margin: 2%;
	padding: 2rem;  
	display: flex;
	flex-direction: column;	
}

.post__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post__header--left{
	display: flex;
	flex-direction: row;
}

.post__header--right{
	display: flex;
	height: 100%;
  position: relative;
}

.post__tags{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.post__info{
	display: flex;
	flex-direction: column;
}

.post__profile-info{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.post__user-name {
  font-family: Inter;
  color: black;
  font-size: 16px;
  margin: 0;
}
.post__email {
  font-family: Inter;
  color: gray;
  font-size: 12px;
  clear: both;
  margin: 0;

}

.post__star {
  visibility: hidden;
  cursor: pointer;
	font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.post__star:before {
  content: "\2605";
  visibility: visible;
}

.post__star:checked:before {
  content: "\2606";
}

.post__info--study-group {
  font-family: Inter;
  color: gray;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

.post__info--title{
	margin: 6px 0px;
}

.post__info--code{
  font-family: Inter;
  color: #5a5a5a;
  font-size: 18px;
  line-height: 21.78px;
	font-weight: 400;
	margin: 0;
}

.post__info--description {
  font-family: Inter;
  color: #4C5980;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2px;
	margin: 4px 0px;

}

.post__info--date-room {
  color: #2D3142;
  line-height: 14px;
  letter-spacing: 0.23px;
  font-size: 16;
  margin-top: 30px;
}

.post__info--time-address {
  line-height: 17px;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #9C9EB9;
}

.align-with-icon {
  margin-left: 24px;
}

.post__profile-pic {
  width: 60px;
  /* Specify the width */
  height: 60px;
  /* Specify the height */
  border-radius: 50%;
  /* Make it a circle */
}

