.resource{
    display: flex;
    flex-direction: column;
	width: 300px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	/* Shadow */
	margin: 2%;
	padding: 2rem;  
}

.info-tag {
    padding: 5px 13px;
    font-size: 1rem;
    border: 1px solid #045BC0;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
}

.resource-title h2{
    margin: 0;
}

.resource__tag{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.resource__check-section{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.resource__course-title h2{
    color: gray;
}