@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet');

body {
  font-family: "Inter", serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

h1-blue {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #045BC0;
}

h2 {
  font-size: 28px;
  font-weight: 590;
}

h3 {
  font-size: 24px;
  font-weight: 590;
}

button {
  font-size: 20px;
  font-weight: 510;
}

input,
textarea {
  font-family: "Inter", serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a:hover,
button:hover {
  cursor: pointer;
}

label {
  font-size: 14px;
  font-weight: 400;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #045BC0;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  white-space: nowrap;
}

.tab-styling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.tab-styling button {
  background-color: white;
  margin: 20px;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 28px;
  margin: 4px 2px;
  cursor: pointer;
}

.column {
  flex: 50%;
}

.description {
  color: white;
  display: flexbox;
  background-color: #045BC0;
  height: 310px;
}

/* .course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 12px;
} */

.course p {
  margin: 0;
  /* Remove default margin for paragraphs */
}

.course button {
  padding: 5px 13px;
}

.btn {
  align-items: center;
}


h4 {
  margin-top: 3%;
  margin-bottom: 3%;
}



.feed {
  width: 80%;
  display: inline;

}

.search-content {
  display: flex;
  justify-content: center;
  margin: 3%;
}

#search {
  width: 30%;
  border-radius: 7px;
  border-color: rgb(185, 185, 185);
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.right {
  margin-left: 30px;
}

.rounded-blue-button {
  width: 115px;
  height: 39px;
  background-color: #045BC0;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  text-align: center;
  line-height: 39px;
  /* Center the text vertically */

}


.tab-styling .active-tab {
  border-bottom: 4px solid #045BC0;
}


#select-course {
  color: #045BC0;
}

#post {
  color: white;
  background: #045BC0;
  border-radius: 20px;
  padding: 5px 30px;
}


.center-item{
  display: flex;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
}

