@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: "Inter", serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 590;
}

h3 {
  font-size: 24px;
  font-weight: 590;
}

button {
  font-size: 20px;
  font-weight: 510;
}

label {
  font-size: 14px;
  font-weight: 400;
}

/* Add a black background color to the top navigation */
nav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  display: block;
  color: #045BC0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 800;
}

/* Change the color of links on hover */
nav a:hover {
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
nav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
  display: none;
}

.feed-banner {
  background-color: #045BC0;
  color: white;
  padding: 2em;
  font-weight: bold;
}

.tab-styling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.tab-styling button {
  background-color: white;
  margin: 20px;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin: 4px 2px;
  cursor: pointer;
}

.active-tab  {
  border-bottom: 2px;
  border-bottom-color: #045BC0;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/*
.course p {
  float: left;
  padding: 5px 16px;
}

.course button {
  float: right;
  padding: 5px 13px;
}

.course {
  display: inline-block;
}
*/

.course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 12px;
}

.left-content {
  display: flex;
}

.course p {
  margin: 0;
  /* Remove default margin for paragraphs */
  padding: 5px 8px;
  /* Adjust padding as needed */
}

.course button {
  padding: 5px 13px;
}

.department {
  border-width: 3px;
  background-color: #ACACAC;
  /* Slightly grey background color */
  border-radius: 8px;
  /* Slight border radius for rounded corners */
  padding: 5px 10px;
}

.btn {
  align-items: center;
}

input {
  width: 80%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#nav {
  margin-left: 50px;
}